<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Spring Quartz 展示</h2>
        <ol class="breadcrumb">
            <li><a>节点展示</a></li>
            <li class="active"><b>Spring Quartz 展示</b></li>
        </ol>
    </div>
</div>
## 提供边界样式
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3><span class="text-navy">Spring Quartz 展示</span></h3>
                </div>
                <div class="ibox-content">
                	## 搜索
                    <form method="post" id="form" class="form-horizontal" onsubmit="return false">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="width:10%">触发器ID</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="id"
                                       placeholder="请输入触发器ID">
                            </div>
							<label class="col-sm-2 control-label" style="width:10%">触发器名称</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="triggerName"
                                       placeholder="请输入触发器名称">
                            </div>
                            <label class="col-sm-2 control-label" style="width:10%">触发器分组</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="triggerGroup"
                                       placeholder="请输入触发器分组">
                            </div>
                        </div>
                        <div class="form-group">
							<label class="col-sm-2 control-label" style="width:10%">任务名称</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="jobName"
                                       placeholder="请输入任务名称">
                            </div>
                            <label class="col-sm-2 control-label" style="width:10%">任务类</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="jobClass"
                                       placeholder="请输入任务类">
                            </div>
                            <div class="col-sm-1" style="width:70px;">
                                <button class="btn btn-primary" type="button" id="searchBtn">
                                    搜索
                                </button>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-warning" type="reset" id="resetBtn">
                                    重置
                                </button>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
         		## 表格容器    class="ibox-content" 表格的黑白道样式
                <div class="ibox-content" id="ltstableContainer">
                </div>
            </div>
        </div>
    </div>
    `
</div>

<div class="modal inmodal" id="job-edit-modal" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 600px;">
        <div class="modal-content animated rubberBand">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h2 class="modal-title">编辑触发器配置信息</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                	## 编辑
                    <form method="post" id="editForm" class="form-horizontal" onsubmit="return false">
                        <input type="hidden" class="form-control" name="id"/>

						<div class="form-group">
                            <label class="col-sm-2 control-label w_120">触发器名称</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control w_250" name="triggerName"
                                       placeholder="请输入触发器名称【必填】">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label w_120">触发器分组</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control w_250" name="triggerGroup"
                                       placeholder="请输入触发器分组【必填】">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label w_120">表达式</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control w_250" name="triggerExpression"
                                       placeholder="请输入Expression【必填】">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label w_120">任务名称</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control w_250" name="jobName"
                                       placeholder="请输入任务名称【必填】">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label w_120">任务分组</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control w_250" name="jobGroup"
                                       placeholder="请输入任务分组【必填】">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label w_120">任务类</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control w_250" name="jobClass"
                                       placeholder="请输入任务类【必填】">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label w_120">触发器描述</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control w_250" name="description"
                                       placeholder="请输入触发器描述【非必填】">
                            </div>
                        </div>
                        
                        ## 虚线
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group">
                            <div class="col-sm-1 col-sm-offset-3" style="width:70px;">
                                <button class="btn btn-primary" type="button" id="editBtn">
                                    修改
                                </button>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-warning" data-dismiss="modal">
                                    关闭
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="ltstable" type="text/html">
    <table class="table table-stripped toggle-arrow-tiny footable" data-page-size="10">
        <thead>
        <tr>
            <th data-toggle="true">触发器ID</th>
            <th>触发器名称</th>
            <th>触发器分组</th>
            <th>表达式</th>
            <th data-hide="all">任务名称</th>
            <th data-hide="all">任务分组</th>
            <th data-hide="all">任务类</th>
            <th data-hide="all">触发器描述</th>
            <th>操作</th>        
        </tr>
        </thead>
        <tbody>
        {{each rows as row index}}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.triggerName}}</td>
            <td>{{row.triggerGroup}}</td> 
            <td>{{row.triggerExpression}}</td>
            <td>{{row.jobName}}</td>
            <td>{{row.jobGroup}}</td>
            <td>{{row.jobClass}}</td>
            <td>{{row.description}}</td>
            <td>{{row.opt | format:'optFormat',row}}</td>	## format:'optFormat',row 对应下面的修改删除功能
        </tr>
        {{/each}}
        {{if results == 0}}
        <tr>
            <td colspan="15">暂无数据</td>
        </tr>
        {{/if}}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9">
                <span>共{{results}}条记录，每页展示{{pageSize}}条</span>
                <ul class="pagination-sm pull-right"></ul>
            </td>
        </tr>
        </tfoot>
    </table>
</script>

<script>
    $(document).ready(function () {
		## 编辑 删除
        LTS.colFormatter.optFormat = function (v, row) {
            return '<a href="javascript:;" class="job-edit-btn"><span class="label label-success"><i class="fa fa-edit"></i> 编辑</span><span class="hidden lts-data">' + JSON.stringify(row) + '</span></a>&nbsp;' +
                   '<a href="javascript:;" class="job-del-btn" id="' + row['id'] + '"><span class="label label-primary" style="background-color: #DD6B55;"><i class="fa fa-trash-o"></i> 删除</span></a>';
        }

		## 删除节点配置遮罩面板       点击删除按钮（job-del-btn）时触发这个方法
        $(document).on("click", ".job-del-btn", function () {
            var that = $(this);
            var id = that.attr("id");
            swal({
                title: "确认要删除该节点吗？",
                text: "请谨慎操作 !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确认删除",
                closeOnConfirm: false
            }, function (isConfirm) {
                if(isConfirm){
                    $.ajax({
                        url: 'api/job-queue/note-delete',
                        type: 'POST',
                        dataType: 'json',
                        data: {id: id},
                        success: function (json) {
                            if (json && json.success) {
                                swal("删除成功!", "恭喜你", "success");
                                that.parents("tr").remove();
                            } else {
                                json ? swal(json['msg']) : {};
                            }
                        }
                    });
                }
            });
        });

		## 编辑节点配置遮罩面板       点击编辑按钮（job-edit-btn）时触发这个方法
        $(document).on("click", ".job-edit-btn", function () {
        	## 点击的那一行的配置信息的编辑按钮的数据 {":",":"}
            var jobText = $(this).children("span.lts-data").text();
            ## 把上面的字符串格式转换成json格式
            var job = JSON.parse(jobText);
			## 遍历存储编辑实体
            $.each($('#editForm').parent().find(".form-control"), function () {
            	## 读取的是编辑实体的name值
                var name = $(this).attr("name");
                var value = job[name];
                ## 编辑遮罩面板的数据回显
                if($(this)[0].tagName.toUpperCase() == 'SELECT'){
                    if(!value){
                        value = "";
                    }
                    $(this).selectpicker('val', value);
                }else{
                    $(this).val(value);
                }
            });
            ## 显示编辑遮罩面板
            $("#job-edit-modal").modal("show");
        });

		## 点击修改按钮时触发
        $(document).on("click", "#editBtn", function () {
            var params = {};
            ## 遍历并储存编辑实体的name值
            $.each($('#editForm').parent().find(".form-control"), function () {
                var name = $(this).attr("name");
                var value = $(this).val();
                params[name] = value;
            });
            ## 非空校验
            var triggerName = params['triggerName'];
            if (!triggerName) {
                sweetAlert("请输入触发器名称", "", "error");
                return;
            }
            ## 非空校验
            var triggerGroup = params['triggerGroup'];
            if (!triggerGroup) {
                sweetAlert("请输入触发器分组", "", "error");
                return;
            }
            ## 非空校验
            var triggerExpression = params['triggerExpression'];
            if (!triggerExpression) {
                sweetAlert("请输入Expression", "", "error");
                return;
            }
            ## 非空校验
            var jobName = params['jobName'];
            if (!jobName) {
                sweetAlert("请输入任务名称", "", "error");
                return;
            }
            ## 非空校验
            var jobGroup = params['jobGroup'];
            if (!jobGroup) {
                sweetAlert("请输入任务分组", "", "error");
                return;
            }
            ## 非空校验
            var jobClass = params['jobClass'];
            if (!jobClass) {
                sweetAlert("请输入任务类", "", "error");
                return;
            }
           	
            // 请求修改数据
            $.ajax({
                url: 'api/job-queue/note-update',
                type: 'POST',
                dataType: 'json',
                data: params,
                success: function (json) {
                    if (json && json.success) {
                        swal("修改成功!", "恭喜你", "success");
                        $("#form")[0].reset();
                        ## 隐藏编辑遮罩面板
                        $("#job-edit-modal").modal("hide");
                        ## 再次触发搜索
                        $("#searchBtn").trigger("click");
                    } else {
                        json ? swal(json['msg']) : {};
                    }
                }
            });
        });
		## 节点配置信息获取
        var ltsTable = $("#ltstableContainer").ltsTable({
            url: 'api/job-queue/note-get',
            templateId: 'ltstable'
        });
        ## 点击搜索时触发这个方法
        $(document).on("click", "#searchBtn", function () {
            var params = {};
            $.each($('#form').parent().find(".form-control"), function () {
                var name = $(this).attr("name");
                var value = $(this).val();
                params[name] = value;
            });
            ltsTable.post(params, 1);
        });
        ## 触发 搜索的点击事件
        $("#searchBtn").trigger("click");
    });
</script>